div.hp-module__container.hp-module--light-theme{background-color: #161616 !important}
.top-stories__stories--with-images .top-story{background-color:#161616 !important; color: gray !important}
.hp-tv-radio__putty{background-color:#161616 !important}
.hp-tv-radio__putty .hp-slider-container:before{background: #171717 !important}
.hp-tv-radio__putty .hp-slider-container:after{background: #171717!important}
.orb-js .hp-slider-container, .top-story__live-badge{background-color:#161616 !important}
.hp-banner__text{color: gray !important}
.orb-nav-pri .orb-nav-blocks a{display: none !important}
#orb-panel-more{background: #161616 !important; border-top: currentColor !important; border-color: #181818 !important}
.cmt-narrow-view .cmts-header p.cmt-length-message{background-color:transparent !important}
.cmt-narrow-view .cmts-top-sort-control{background-color: transparent !important}
.comments-button__icon{background-color:#161616 !important}
.comments-button__count.dna-comment-count-show{background-color:#161616 !important}
.comments-button.ghost-column{background:#161616 !important}
#orb-container, #page{background: #161616 !important}
.nav-detail .level-2 h2{color: gray !important}
.ff .nav-detail .level-3 a{background-color: #161616 !important; color: gray !important}
.page-title{color: gray !important}
.nav-detail .level-2:before{display: none !important}

.Theme-Section-Light{background-color:#161616 !important}
.Theme-Layer-BodyText{background-color:#161616 !important; color: gray !important}
.PositionSticky{background-color: #161616 !important}

.nw-c-nav__wide-secondary__title span{color: gray !important}
.nw-c-nav__wide-section__title div{color: gray !important}
.orb-nav-search form div{background-color: #161616 !important}
.se-searchbox-app .se-searchbox__input__field{background-color:#161616 !important; color: white !important}
.se-searchbox-app .se-searchbox__submit{background-color:#161616 !important; color: white !important}
.se-episode-suggestion:hover{background-color: transparent !important}
.search-content a{color: gray !important}
ol.results li article footer dl dd{color: gray !important}
.b-footer--transparent--dark-grey .orb-footer{background-color: #161616 !important; color: gray !important}
.b-footer--transparent--dark-grey .orb-footer a{color: gray !important}

/*weather*/
.wr-enhanced .wr-forecast .wr-weather-type--day .wr-weather-type__icon{color: transparent !important}
.ls-c-geolocation__label{display: none !important}

.story-body p{color: gray !important}
:focus{outline: 0px !important}
.nw-c-md-last-updated p{padding-top: 2px !important}
.gs-o-table__link{color: white !important}
.gs-o-button--secondary{color: gray !important}
