.sp-c-filter-nav__link--selected{color: gray !important}
.sp-c-match-list-heading{background-color: #161616 !important; color: gray !important}
.gel-double-pica{color: gray !important}
.b-reith-sans-loaded body .gel-double-pica-bold{color: gray !important}
.gs-u-mv\+{color: gray !important}
.sp-c-fixture__team--time-home .sp-c-fixture__team-name-trunc, .sp-c-fixture__team--time-away .sp-c-fixture__team-name-trunc{color: gray !important}
.main__slice{background-color: #161616 !important}
.no-touch .gel-trafalgar-bold{color: gray !important}
.sp-story-body .sp-story-body__introduction{color: gray !important}
.sp-story-body>p{color: gray !important}
.sp-story-body>ul a{color: gray !important}
.spacing-v2 .component__title{color: gray !important}
.multi-thumb-promo__item{background-color: transparent !important}
.multi-thumb-promo__list{background-color: #161616 !important}
.multi-thumb-promo__list{background-color: #161616 !important}
.box-promo{background-color: #161616 !important}
.gs-u-box-size *{color: gray !important}
.gs-u-pv\@m{background-color: #161616; color: gray !important}
.sp-story-body>p a{color: gray !important}
.afs-cmts-outer p{color: gray !important}
.cmts-list h4{color: gray !important}
.cmt-time{color: gray !important}
.afs-cmts-outer a{color: gray !important}
.cmts-header{background: #161616 !important; color: gray !important}
.cmts-type-view-li a{background: #161616 !important; color: gray !important}
.cmts-post-box{background: #161616 !important; color: gray !important}
.afs-cmts-outer ul, .afs-cmts-outer li{background: #161616 !important}
.cmt-text{color: gray !important}
.afs-cmts-outer {color: gray !important}
.cmts-header{background: #161616 !important; color: gray !important}
.cmts-list li{color: gray !important}
.comments-tag{color: gray !important}
.gel-long-primer{color: gray !important}
.gel-long-primer-bold{color: gray !important}
.sp-story-body .sp-story-body__cross-head{color: gray !important}
.story-comments__button-item{background-color: #161616 !important}
.button--secondary{background-color: #161616 !important}
.sp-story-body .sp-story-body__table tbody td{color: gray !important}

.manual-stats-link_list>li{background-color: #161616 !important}
.manual-stats-link__link{color: gray !important}
.spacing-v2 .component--default+.component--bg{background-color: #161616 !important}
.aintree__item{background-color: #161616 !important}

.secondary-nav--primary-nav-flyout-open{background-color: transparent !important}
/*Contains the BBC Sports navigation bar under All Sports*/

.secondary-nav--primary-nav-flyout-open .secondary-nav__items-wrap{background: transparent !important}
.sp-story-body .sp-story-body__table thead th{background: #161616 !important; color: gray !important}
.story-body .sp-media-asset--lead .sp-media-asset__caption{background-color: #161616 !important; color: gray !important}
.sp-c-tabs__link{background-color: #161616 !important; color: white !important}
.gs-o-table__head{background-color: #161616 !important; color: gray !important}
.sp-c-fixture__team{background-color: #161616 !important; color: white !important}
.sp-c-fixture__team-name-trunc{background-color: #161616 !important; color: gray !important}
.sp-c-football-scores-button--show-scorers{background-color: #161616 !important; color: gray !important}
.sp-c-date-picker-timeline__item-inner{background-color: #161616 !important; color: #161616 !important}
.sp-c-date-picker-timeline__item{border-color: #181818 !important; background-color: #161616 !important}
.no-touch .gel-trafalgar{color: gray !important}

.no-touch .sp-c-sport-navigation__link{background-color:#181818 !important}
.sp-c-sport-navigation--primary{background-color:#181818 !important}
.primary-nav{background-color: #181818 !important}
.global-header__logo{color:#909090 !important}
.sp-c-global-header__logo{color:#909090 !important}
.sp-c-sport-navigation__link{color: white !important}
.primary-nav__link{color: white !important}
.sp-c-media-collection__item--selected{color: #121212 !important}
.story-body>ul{color: gray !important}
.ssrcss-zmz0hi-PromoLink:link{color: gray !important}
.ssrcss-co0e25-InlineLink:link{color: gray !important}
.ssrcss-14ph8jy-StyledLink{background-color: #161616 !important; color: gray !important}