div#page.configurable.index{background-color:#161616 !important}
.navigation-wide-list--secondary{background: #212121 !important}
.secondary-navigation--wide{background-color:#212121 !important}
.secondary-navigation__title.navigation-wide-list__link span{color: gray !important}
.navigation-wide-list--secondary .navigation-wide-list__link, .navigation-wide-list--secondary .navigation__more-button{color: gray !important}
.orb-nav-pri a{color: gray !important}
.orb-nav-active, .orb-nav-pri-white{background:#232323 !important}
.orb-nav-pri .orb-nav-blocks img {background-color:transparent !important}
.orb-nav-pri{border-bottom:1px solid transparent !important}
.orb-nav-links li{border-left: 1px solid transparent !important; border-right: 1px solid transparent !important}
.orb-nav-pri-white .orb-nav-id{border-color: #232323 !important}
.orb-nav-pri-white .orb-nav-links ul{border-color: #232323 !important}
.column--secondary .distinct-component-group.container-condor{border-left: 1px solid #181818 !important}
.distinct-component-group+.distinct-component-group{border-top: 1px solid #181818 !important}
.nw-p-oat .nw-c-maxim-wrap{background-color:#161616 !important}
.nw-c-nav__wide-secondary{background-color:transparent !important}
.column--primary{background-color:transparent !important}
.lx-c-session-body{background-color:#161616 !important}
.swift{background-color:#161616 !important}
.title-link__title-text{color: #686868 !important}
.links-list__link:visited{color:#666 !important}
.buzzard__links-list .links-list__lin{color: #686868 !important}
.group-title__link{color: #686868 !important}
.simple-list__link{color: #666 !important}
.links-list__link{color: #686868 !important}
.column--secondary .container-condor+.group-title-component{border-left: #181818 !important}
.column--secondary .container-condor+.group-title-component+.simple-list{border-left: #181818 !important}
.follow-us{background-color:#161616 !important}
.follow-us__list-item-link.follow-us__list-item-link--twitter{background-color:#161616 !important; color: gray !important}
.follow-us__list-item-link.follow-us__list-item-link--facebook{background-color:#161616 !important; color: gray !important}
.follow-us__list-item--block .follow-us__list-item-link{background-color:#161616 !important; color: gray !important}
.container-heron{background:#161616 !important}
.hr-thick, .spacer, .hr{background-color: #181818 !important}
.infeednewsindex-ad+.distinct-component-group{border-top: 0px !important}
.flex .sparrow{background-color:#161616 !important}
.sparrow__light-3 .sparrow-item{background-color:transparent !important}
.sparrow .sparrow-item{border-color: transparent !important}
.correspondent-promo__latest-story{background-color:transparent !important}
.correspondent-promo__headline{color:#686868 !important}
.distinct-component-group+.correspondent-promo{border-top: #181818 !important}
.flex .sparrow-item{background-color:#161616 !important}
.correspondent-promo+.distinct-component-group{border-top: #181818 !important}
[data-post-load-url]+div>.distinct-component-group{border-top: #181818 !important}
a.faux-block-link__overlay-link{background-color:#161616 !important}
.flex .pukeko-item--dark .pukeko-item__body{background-color:transparent}
.pigeon__column--b:before{border-left: #181818 !important}
.pigeon__column--a:before{border-left: #181818 !important}
.pigeon__column--b .pigeon-item+.pigeon-item{border-top: #181818 !important}
.gs-u-display-block{background:#212121 !important} /* Note to improve script targetting later on, to count for clipping on navigation bar.*/
.gs-u-box-size, .gs-u-box-size *{background-color:#161616 !important}
.nw-c-nav__secondary-sections /*Navigation bar*/ {background-color: #181818 !important}
/*Base Politics code is clashing with main navigation page promotional background colours.*/
.markets-index-promo{background-color: #161616 !important}
div#page.configurable.story{background-color: #161616 !important}
.story-body__h1{color: gray !important}
.top-stories-promo{background-color: #161616 !important; color: gray !important}
.features-and-analysis{background-color:#161616 !important; color: gray !important}
.bold-image-promo__title{color: gray !important}
.most-popular__title{background-color: #161616 !important}
.most-popular-list-item__link{color: gray !important}
.story-body__crosshead{color: #696969 !important}
.with-extracted-share-icons .extracted-svg{background-color: #161616 !important}
.twite__share-button{background: #161616 !important}
.with-extracted-share-icons .tags-list__tags a{border: 0px !important; color: #828282 !important}
#orb-modules{background-color:#161616 !important}
.nw-c-nav__wide-menuitem-container span{background-color: #bb1919 !important} /*Main page navigation bar*/
.nw-c-nav__wide-menuitem-container span, .nw-c-nav__secondary-menuitem-container span{color: white !important}
.nw-c-nav__wide-menuitem-container a {background-color:#bb1919 !important}
.nw-c-nav__secondary-sections{background-color:#181818 !important}
.no-touch .gel-pica-bold{color: gray !important}
.gel-paragon-bold{color: gray !important}
.gs-c-promo-heading gs-o-faux-block-link__overlay-link gel-paragon-bold nw-o-link-split__anchor{color: gray !important}
.gs-c-section-link--truncate{color: gray !important}
.nw-c-must-see-heading__title{color: gray !important}
.gel-layout__item nw-c-top-stories__tertiary-items gel-1/5@xxl gs-u-pb@xxl{border-bottom: 1px transparent !important}
.top-stories-promo-story__title{color: gray !important}
h1.index-title a, .index-title__container a{color: gray !important}
.nw-c-top-stories-primary__related-content gs-u-pb-alt@m gs-u-pb0@l{color: gray !important}
.nw-o-link-split__text{color: gray !important}
.gs-c-media-indicator__icon svg{color: #5f5656 !important}
.nw-c-circle svg{color: #5f5656 !important}
#page.vxp{background-color: #161616 !important}
.vxp-carousel__gradient, .vxp-carousel__gradient-front{background-color:#161616 !important}
div.vxp-carousel__gradient{background:#161616 !important}
div.vxp-carousel__gradient-front{background:#161616 !important}
.vxp-carousel__headline{color: gray !important}
.vxp-media__headline{color: gray !important}
.extracted-svg{background-color:#202020 !important}
.vxp-share__share-button{background:#202020 !important}
.vxp-recommended__title span{background-color:#161616 !important;color: gray !important}
.vxp-related-content__headline{color: gray !important}
.vxp-recommended__headline{color: gray !important}
.vxp-mostpop__title span{background-color:#161616 !important; color:gray !important}
.vxp-mostpop__list-item-headline{color: gray !important}
.trust-project{background-color: #181818 !important; color: gray !important}
.vxp-related-content__title{border-top: 0px !important}
.vxp-badge__text{color: gray !important; background-color:#161616 !important}
.vxp-badge__icon--video{background-color:#161616 !important;color: gray !important}
.story-body__list-item a{color: gray !important}
.cmts-header{background:#181818 !important}
.cmt-narrow-view h3.cmt-title, .cmt-narrow-view .cmts-header p, .cmt-narrow-view .cmts-header .comments-post-comment{color: gray !important}
textarea.cmts-post-box{background-color: #181818 !important}
.cmts-type-view{background-color:transparent!important}
.cmts-type-view-li a.selected{background:transparent !important}
.afs-cmts-outer *{color: gray !important}
.story-body__link, .story-body__link-external{color: gray !important}
.most-popular-list-item__headline{color: gray !important}
.tags-container{border-bottom: 0px solid !important; border-top: 0px solid !important}
.nw-c-feature-promo__heading{background: linear-gradient(0deg,#151515,transparent) !important}
.contact-form__input{background-color: #171717 !important; border: 1px solid #151515 !important; color: #404040 !important}
.contact-form__textarea{background-color: #171717 !important; border: 1px solid #151515 !important; color: gray !important}
.contact-form__input--submit{background:#171717 !important}
.tags-list__tags a{background-color: #171717 !important; color: gray !important; border: 1px solid #151515 !important}
.live-timeline-inner a, a .cta{color: gray !important}
.cmts-ft{background:#161616 !important}
.flex .pukeko-item__inner{background-color:#161616 !important}
.flex .pukeko-item--dark .pukeko-item__body{background-color:#161616 !important}
.lx-stream-post__header-title>*{color: gray !important}
.nw-c-local__cold-start .nw-c-local__heading-title{color: gray !important}
.nw-c-local__news-controller-container .ls-c-search__input{color: gray !important}
.wr-c-decorative-map .wr-c-map-background img{background-color: gray !important} /* bbc weather exemption*/
div.nw-c-nav__wide-overflow-list.gel-layout{background-color:#212121 !important} 
div.nw-c-nav__wide-overflow-list.gel-layout a.nw-o-link{background-color: #212121 !important}
.nw-c-nav__wide-overflow .nw-c-nav__wide-menuitem-container span{background-color: #212121 !important}
.dove-item{background-color: #161616 !important}

div.chart-container{color: white !important}
div.scroll__text{color: white !important}
.scroll__graphic{color: white !important}