div.hp-module__container.hp-module--light-theme{background-color: #161616 !important}
.top-stories__stories--with-images .top-story{background-color:#161616 !important; color: gray !important}
.hp-tv-radio__putty{background-color:#161616 !important}
.hp-tv-radio__putty .hp-slider-container:before{background: #171717 !important}
.hp-tv-radio__putty .hp-slider-container:after{background: #171717!important}
.orb-js .hp-slider-container, .top-story__live-badge{background-color:#161616 !important}
.hp-banner__text{color: gray !important}
.orb-nav-pri .orb-nav-blocks a{display: none !important}
#orb-panel-more{background: #161616 !important; border-top: currentColor !important; border-color: #181818 !important}
.cmt-narrow-view .cmts-header p.cmt-length-message{background-color:transparent !important}
.cmt-narrow-view .cmts-top-sort-control{background-color: transparent !important}
.comments-button__icon{background-color:#161616 !important}
.comments-button__count.dna-comment-count-show{background-color:#161616 !important}
.comments-button.ghost-column{background:#161616 !important}
#orb-container, #page{background: #161616 !important}
.nav-detail .level-2 h2{color: gray !important}
.ff .nav-detail .level-3 a{background-color: #161616 !important; color: gray !important}
.page-title{color: gray !important}
.nav-detail .level-2:before{display: none !important}